# Godelion Core Dependencies
datasets>=2.14
anthropic>=0.30
anthropic[bedrock]
backoff>=2.2
botocore
boto3
openai>=1.0
pyyaml>=6.0

# SWE-bench
beautifulsoup4
chardet
docker>=6.0
ghapi
GitPython
pre-commit
python-dotenv
rich
unidiff

# Testing
pytest>=7
pytest-asyncio
async_timeout
